html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.header img{
    position:inherit;
    width: 100%;
}

.direitos{
    display: inline-block;
    padding: 60px 40px 0px ;
    margin-left: 300px;
}

a:hover{
    background-color: #ffffff;
    color:#000000;
}

.menu li,a{
    text-decoration: none;
    font-size: large;
    margin-top: 30%;
    padding: 10px;
    list-style: none;
    color: rgb(255, 255, 255);
    border-radius: 5px;
}

.title-banner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: #41509b;
    padding: 10px 20px 0px;
}

.header {
    min-height: 150px;
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}

.content div{
    display: inline-block;
    margin-right: 40px;
}

.content .list2{
    position: absolute;
 } 

.footer {
    background-color: #526cea;
    min-height: 150px;
    color: #f1f1f1;
    border-top: solid 1px gray;
}

.footer div{
    display: inline-block;
}

.content ul{
    list-style: disc;
}

table thead th{
    background-color: #41509b;
    border-right: solid 1px white;
    color:#ffffff;
}

table tbody th{
    background-color: #526cea;
    color: #ffffff;
    border: dashed 1px white;
}

table tbody td{
    padding: 5px;
    text-align: center;
    background-color: #526cea;
    border-right: solid 1px white;
    color: #ffffff;
}

form{
    display: inline-block;
}

input{
    border-radius: 5px;
    border: solid 1px black;
    background-color: #f1f1f1;
    padding: 9px 10px;
    margin: 10px;
}

textarea{
    resize: none;
    border-radius: 5px;
    margin: 10px;
}

.maps{
    display: inline-block;
    margin-left: 10px;
}